---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Tags from '../components/Tags.astro'; 
import { Image } from "astro:assets"
import { getCollection } from 'astro:content';
import { Icon } from 'astro-icon/components';
//  
const blogs = await getCollection('blogs');
const pageTitle = "My Blogs";
---
<Layout title={pageTitle}>
  <Navbar position="static" margin="mx-0"></Navbar>
  <main class="">
    <p class="col-span-2 md:row-span-10 py-[14px] self-center md:text-5xl">
      This Is Just Dummy Blogs.
      </p>
    <div class="grid md:grid-cols-2 gap-2 content-center">
      {blogs.map(
        (blog) => 
        <div class="rounded-lg">
          <div class="">
            <a href="">
              <Image
              src={blog.data.image}
              alt='asdasd'
              class="rounded-lg"
              />
            </a>
          </div>
        </div>
        <div class="text-start bottom-0 pb-2 flex flex-col w-full items-center">
          <a href={`/blogs/${blog.slug}`}
          class="text-xl font-bold underline underline-offset-1" >
            {blog.data.title}
          </a>
          <div class="text-sm">
          <Tags tags={blog.data.tags} href='#'/>
          </div>
        </div>
      )}
    </div>
  </main>
</Layout>

