---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import Tags from '../../components/Tags.astro';
export async function getStaticPaths({ paginate }) {
    const blogs = await getCollection("blogs");
    return paginate(blogs, {
        pageSize: 4
    })
}
const title = 'Blogs'
const { page } = Astro.props;
---

<Layout title={title}>
    <Navbar position="static" title={title}></Navbar>
    <main class="max-w-xl md:mx-auto mx-8">
      <p class="col-span-2 md:row-span-10 py-12">
        This Is Just Dummy Blogs.
        </p>
      <div class="grid gap-4">
        {page.data.map(
            (blog) => 
                <div class="px-2 flex flex-col w-full border-l-4  rounded-sm" :style="{'border-color': color}" >
                    <div class="flex items-center gap-2">
                      <p class="text-xs">
                      {
                      blog.data.pubDate.toLocaleDateString('en-us',
                      { weekday:"short", year:"numeric", month:"short", day:"numeric"}) 
                      }
                      </p>
                      <span>|</span>
                      <p>
                        {blog.data.title}
                      </p>
                    </div>
                    <!-- <Tags tags={blog.data.tags} href='#'></Tags> -->
                    <a href={`/blogs/${blog.slug}`} class="text-sm bg-slate-100 dark:bg-[#181a1b] p-2 w-fit rounded-sm">
                      Read More
                    </a>
                </div>
        )}
      </div>
      <div class="py-12">
        {page.url.prev ? <a href={page.url.prev}>Previous</a> : null}
        {page.url.next ? <a href={page.url.next}>Next</a> : null}
      </div>
    </main>
</Layout>