---
import Layout from './Layout.astro';
const { frontmatter } = Astro.props;
---
<Layout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <p>Desc: {frontmatter.description}</p>
  <p>Written by: {frontmatter.author}</p>
  <div class="flex gap-2">
    Tags: 
    {frontmatter.tags.map((tag) => (
      <a href={`/tags/${tag}`}>#{tag}</a>
      ))}
    </div>
  <div class="">
    {frontmatter.body}
  </div>
  <slot />
</Layout>